@model UCP1_105.Models.Universitas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Universitas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUniv" class="control-label"></label>
                <input asp-for="IdUniv" class="form-control" />
                <span asp-validation-for="IdUniv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaUniv" class="control-label"></label>
                <input asp-for="NamaUniv" class="form-control" />
                <span asp-validation-for="NamaUniv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFakultas" class="control-label"></label>
                <select asp-for="IdFakultas" class ="form-control" asp-items="ViewBag.IdFakultas"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProdi" class="control-label"></label>
                <select asp-for="IdProdi" class ="form-control" asp-items="ViewBag.IdProdi"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
